
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>New Item</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="ContentPadding" [formGroup]="new_item_form" (submit)="createItem(new_item_form.value)">
    <ion-item>
      <ion-label class="AddLabel" color="primary" position="floating">Title</ion-label>
      <ion-input class="AddDescription" type="text" formControlName="title" required></ion-input>
    </ion-item>
    <ion-item class="ItemPadding">
      <ion-label class="AddLabel" color="primary" position="floating">Description</ion-label>
      <ion-input class="AddDescription" type="text" formControlName="description" required></ion-input>
    </ion-item>
    <ion-button class="submit-btn buttonAdd" expand="block" type="submit" [disabled]="!new_item_form.valid">Create</ion-button>
  </form>
</ion-content >