
.buttonAdd {
  margin-top: 95px;
}

.AddLabel {
  font-size: 18px;
}

.AddDescription {
  font-size: 14px;
}

.ContentPadding {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.ItemPadding {
  padding-top: 22px;
}