
.buttonUpdate {
  margin-top: 95px;
}

.UpdateLabel {
  font-size: 18px;

}

.UpdateDescription {
  font-size: 14px;
}

.ContentPadding {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.ItemPadding {
  padding-top: 22px;
}